@model ViewModels.Models.Address

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<p>City: @Html.DisplayFor(m => m.City)</p>
<p>State: @Html.DisplayFor(m => m.State)</p>
<p>Zipcode: @Html.DisplayFor(m => m.Zipcode)</p>
