@model TemporaryStorage.Models.Contact

@{
    ViewBag.Title = "ReadSession";
}

<h2>ReadSession</h2>

<div>
    @Html.DisplayFor(c => c.Name)
</div>

<div>
    @Html.DisplayFor(c => c.Email)
</div>

@Html.ActionLink("Home", "Index", "Home")
