@model HResourceModel.Policy

@{
    ViewBag.Title = "ViewDressPolicy";
}

<h2>View Policy</h2>

<p>Category: @Model.CategoryType.CategoryType</p>
<p>Title: @Model.Title</p>
<p>Content: @Model.Content</p>


<h3>@Html.ActionLink("Back to Home", "Index", "Home")</h3>





