
@{
    ViewBag.Title = "Index";
}

<h2>Playing with Javascript</h2>


<h3 class="ko"> what do you want</h3>


<p> </p>
<p class="class"> </p>

<p> </p>

<p id="id"> </p>

<p> </p>

<p></p>
<p></p>
<p id="no"></p>





@*<script> var divs = document.getElementsByTagName("p");
    var pa = document.getElementById("id");
    var ya = document.getElementById("no");
    for (var i = 0; i < divs.length; i++) {
        //do something to each div like
        var x = divs[i].innerHTML = "My name is Kooshin";
        var y = pa.style.color = "yellow";
        var z = ya.style.fontSize = "xx-large";
        var t = divs.cloneNode(true);
        var q = document.

    }
    </script>*@

<div id="kos">
    
</div>





@section scripts{
    <script type="text/javascript" src="~/Scripts/myJavaScript.js"></script>
    
}
