
@{
    ViewBag.Title = "CustomDirective";
}

<h2>CustomDirective</h2>

<div ng-app="StarRating">
    <div ng-star-rating rating="movieRating" onclick="ratingClick(starValue)"></div>
</div>

@section Scripts
{
    <script src="~/Scripts/app/customdirective.js"></script>
}
