@model TemporaryStorage.Models.Contact

@{
    ViewBag.Title = "ReadTempData";
}

<h2>ReadTempData</h2>

@if (TempData["SuccessMessage"] != null)
{
    <h2>@TempData["SuccessMessage"].ToString()</h2>
}

<div>
    @Html.DisplayFor(c => c.Name)
</div>

<div>
    @Html.DisplayFor(c => c.Email)
</div>

@Html.ActionLink("Home", "Index", "Home")
