@model ModelBinding101.Models.BirthdayPerson

@{
    ViewBag.Title = "Result4";
}

<h2>Result 4</h2>

<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Birthday: @Model.Birthday.ToShortDateString()</p>